@import "../../../src/common/colors.scss";

.login-logo {
    background-color: $primary-color!important;
}

.login-button {
    background-color: $primary-color!important;
}

.reset-password-link {
    color: $secondary-color!important; 
}

.sign-up-link {
    color: $secondary-color!important;
}

.textField:focus {
    border-color: $primary-color!important;
}

.textField {
    border-color: $primary-color!important;
}

.options-grid {
    margin-top: 10px!important;
}
