@import "../../common/colors.scss";
.top-padder {
    background-color: $secondary-color!important;
    height: 15px;
    width: 100%; 
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
    background-color: $primary-color!important;
}

.logo {
    width: 70px;
    height: 60px;
    padding: 5px 10px 5px 0px;
}

.menu-box {
    width:400px;
}






.nav-bar-color {
    background-color: #000000;
    height: 90px;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 47%;
    transform: translatex(-50%);
    height: 100%;
    top:0px;
}

.navbar-nav.navbar-center .nav-item {
    padding-top:25px;
}

.nav-bar-white {
    background-color: #ffffff;
    height: 30px;
}