@import "../../../src/common/colors.scss";

.sign-up-logo {
    background-color: $primary-color!important;
}

.sign-up-button {
    background-color: $primary-color!important;
    margin-top: 10px!important;
}

.options-grid {
    margin-top: 10px!important;
}

.login-button {
    background-color: #000!important;
    color: #fff!important;
    margin-top: 10px!important;
    float: right;
    width: 100%;
}

.verified-sign-up-login-button {
    background-color: #000!important;
    color: #fff!important;
    margin-top: 50px!important;
    float: right;
    width: 100%;
}

.sign-up-verifying {
    margin-top: 10px!important;
    color: $secondary-color!important;
}