@import "../src/common/colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}

body {
  background: $primary-color;
}
.container {
  margin: 0px 40px;
}

.copyright-text {
  color: $secondary-color;
  text-align: center!important; 
  position: fixed!important;
  bottom: 0!important;
  width: 400px!important;
  height: 60px!important; 
}