@import "../../../src/common/colors.scss";

.reset-password-logo {
    background-color: $primary-color!important;
}

.password-reset-request-button, .password-reset-button {
    background-color: $primary-color!important;
    margin-top: 10px!important;
} 

.login-button {
    background-color: #000!important;
    color: #fff!important;
    margin-top: 10px!important;
    float: right;
    width: 100%;
}

.password-reset-verifying, .password-reset-request, .password-reset {
    margin-top: 10px!important;
    color: $secondary-color!important;
}

.request-reset-box {
    width: 100%!important;
}